* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.main {
    height: 90vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.transform {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;

    transition: background 0.5s ease;
    transition: opacity 0.5s ease;
}

.menuBtn {
    height: 5vh;
    margin: 2vh;
    opacity: 0.5;
    border: none;
    background: white;
}

.title {
    padding-left: 3vw !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title h1 {
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    font-size: 7em !important;
    line-height: 1em;
}

.title h3 {
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    font-size: 2.3em !important;
    line-height: 1em;
}

.accent {
    opacity: 0.7;
    color: #ad9060;
}

.subtitle {
    position: absolute;
}

.invis {
    opacity: 0 !important;
}

.cardcol {
    height: 50vh;
    display: flex;
    justify-content: right;
    align-items: center;
    perspective: 1200px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card {
    width: 35vw;
    min-width: 300px;
    height: 50vh;
    margin-left: auto;
    margin-right: 3vw;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    border-radius: 17px !important;
    border: 0px solid black !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.boxshadow {
    box-shadow: 7px 7px 7px 2px rgba(0, 0, 0, .5);
}

.cardbg {
    height: 100%;
    width: 100%;
    border-radius: 16px !important;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 16px !important;
    background: rgba(0,0,0,0);
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    transform: translateZ(1px);
}

.card-back {
    text-align: center;
    border-radius: 16px !important;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    transform: rotateY(180deg);
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
}

.copy {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY (-50%);
    padding: 90px 30px 70px 30px;   
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: #EDEEEF;
    font-size:calc(10px + 0.8vw);
}

.cardcol:hover .card {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY (-180deg);
}

.copy_icon {
    position: absolute;
    bottom: 18px;
    left: 30px;
}

#emailbtn,
#linkedinbtn{
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);

    display: block;
    text-align: center;
    max-width: 225px;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px 30px;
    color: white;
    box-shadow: RGBA(173, 144, 96, 1) 0 0px 0px 2px inset;
}

#emailbtn:hover,
#linkedinbtn:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: RGBA(173, 144, 96, 0.7) 0 0px 0px 40px inset;
}